[submodule "vm-sdk"]
	path = vm-sdk
	url = https://git.devuan.org/sdk/vm-sdk.git
[submodule "arm-sdk"]
	path = arm-sdk
	url = https://git.devuan.org/sdk/arm-sdk.git
[submodule "live-sdk"]
	path = live-sdk
	url = https://git.devuan.org/sdk/live-sdk.git
