[submodule "vm-sdk"]
	path = vm-sdk
	url = https://github.com/parazyd/vm-sdk.git
[submodule "arm-sdk"]
	path = arm-sdk
	url = https://github.com/parazyd/arm-sdk.git
[submodule "live-sdk"]
	path = live-sdk
	url = https://github.com/parazyd/live-sdk.git
[submodule "docs/webnomad"]
	path = docs/webnomad
	url = https://github.com/dyne/webnomad
